<<<<<<< HEAD
.account-setup {
    width: 24vw;
}

input {
    float: right;
}

=======
.angry-img {
    position: fixed;
}
@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.testimonials-box {
    animation: slide-in 4000ms;
    animation-iteration-count: 6;
}
>>>>>>> main
