<<<<<<< HEAD

.financePhone {
    display: flex;
    justify-content: center;
}

.number {
    animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    align-self: center;
  }

  @keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
=======
.prayer {
    font-family:arial black;
    font-size:50px;
    background-image: 
      linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 35s linear infinite;
}

    @keyframes move {
        to {
            background-position: 4500vh;
        }
    }

.angry-img {
    position: fixed;
}
@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.testimonials-box {
    animation: slide-in 4000ms;
    animation-iteration-count: 6;
}
>>>>>>> main
